<html>
    <head>
        <title>
             404 page
        </title>
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <h1 class="text-center">
        {{error}}
        </h1>
        <script src='js/app.js'></script>
    </body>
</html>